@import '../abstracts/variable';
@import '../abstracts/container';

.footer {
  background-color: $black;

  .footer-container {
    @include container();
    @include gridColumn(12);
    padding: 30px 0;
    color: $white;
    gap: 10px;

    &-item {
      color: $white;
      @include colSpan(3)
    }
  }
}