// responsive width
$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;
$desktop-lg-width: 1260px;

// color
$black: #000;
$white: #fff;
$primary: #881b1b;
$secondary: #9e3b3b;
$gray: #f3f3f3;